<p class="lead">Hello there <%= @resource.fullname %></p>
<p>Someone asked to get back in <%= link_to Setting.app_name, root_url %> Above, account number <span class="text-danger"><%= @resource.login %></span> The password, if you are, then you can enter the website through the following link to change the password.</p>
<p><%= link_to "Modify my password", edit_password_url(@resource, reset_password_token: @token), class: 'btn' %></p>
<p>If you do not see the connection, please copy the following connection and then open it inside the browser：</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
<p class="text-muted">If you do not apply, you can ignore this message, your account will not be affected.</p>
